BasedOnStyle: LLVM
IndentWidth: 4
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: false
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterDefinitionReturnType: true
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true

#AfterControlStatement:
#BraceWrappingAfterControlStatementStyle: Always

