*.o
!*.c
!*.h
!.clang-format
./analyzer
./auto-slice
./visit-filter
./map
./pss-driver
./summary
./slink
./tsummary
./helpu
./visit-post
./visit-ctrl
./slice_driver
./vsort
./call-tree
./select
./unravel
./u
./.git/hooks/commit-msg.sample
./.git/hooks/pre-merge-commit.sample
./.git/hooks/update.sample
./.git/hooks/pre-receive.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-push.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/pre-commit.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/post-update.sample
./.git/hooks/prepare-commit-msg.sample
./parser
./vprep
*.LIF
*.T
*.V
*.Y
*.ERR
*.LOG
